[Unit]
# We want the mongo service to be started very late in the boot
# process.  This is because cloud-init may have to format the mongo
# data, journal, and/or logs volumes, and that can take some time.
#
# multi-user.target is pretty late in the boot process, and including
# cloud-final.service here should ensure that cloud-init is finished
# running before this service is started.
After=network.target multi-user.target cloud-final.service
# The following lines will disallow the mongod service from starting up in
# the event that the MongoDB data, journal, and/or log volumes are not ready
# yet.  The mongod service will fail to start, and the failed assertion(s)
# will be mentioned explicitly in the output of the command "systemctl status
# mongod.service".
#
# Note that these assertions cannot be combined into a single line.  Our
# best interpretation of the systemd documentation is that
# AssertPathIsMountPoint does not work if supplied with multiple paths,
# as opposed to RequiresMountsFor, which does support multiple paths.
AssertPathIsMountPoint=/var/lib/mongodb
AssertPathIsMountPoint=/var/lib/mongodb/journal
AssertPathIsMountPoint=/var/log/mongodb
# Make sure all mongo file systems are mounted before starting.
RequiresMountsFor=/var/lib/mongodb /var/lib/mongodb/journal /var/log/mongodb

[Service]
# Mongo docs recommend running via numactl on NUMA hosts:
# https://docs.mongodb.com/manual/administration/production-notes/#mongodb-and-numa-hardware
#
# Note that ExecStart has to be cleared out before adding the new
# value.  This is described at the end of the "Example 2" section in
# the systemd.unit man page:
# https://www.freedesktop.org/software/systemd/man/latest/systemd.unit.html#Examples
ExecStart=
ExecStart=/usr/bin/numactl --interleave=all /usr/bin/mongod --config /etc/mongod.conf
# /run/mongodb (AKA /var/run/mongodb) is used to store a file
# containing the mongod pid.  We shouldn't start up until that
# directory exists and has the correct permissions.
#
# Make sure /run/mongodb is created before starting.
RuntimeDirectory=mongodb
# Make sure /run/mongodb has the correct permissions before starting.
RuntimeDirectoryMode=0744
